
*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
header{
    background-color: #FFFFFF;
   
   
}
nav{
    margin: 20px auto;
    width: 100%;
    max-width: 1140px;
}

#banner {
    background: url(../B13-A01-Knowledge-Vault/assets/hero-bg.png);  
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px 0;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;   
}


.banner-container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    min-height: 100vh;   

}


nav{
    margin: 20px auto;
    width: 100%;
    max-width: 1140px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    text-align: center;
    gap: 51px;
   
}
nav .menu li{
    align-items: center;
    display: flex;
    gap: 32px;
}
.btn1{
    background-color: #469165;
    padding: 120px;
    border: none;
    font-size: 16px;
    font-weight: lighter;
    width: 164px;
    border-radius: 4px;
    padding: 12px 16px;
    color: white;
    cursor: pointer;
}
.banner-container{
    width: 100%;
    max-width: 1140px;
    text-align: center;
}
.banner-container {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.btn2{
    border: none;
    border-radius: 100px;
    font-size: 12px;
    font-weight: bold;
    background-color:  #FFFFFF;
    padding: 12px;
    color: #469165;
    align-items: center;
    display: inline-flex;

}
.btn3{
    color: #FFFFFF;
    font-size: 16px;
    padding: 16px;
    border: none;
    border-radius: 4px;
    background: none;
    border: 1px solid white;
    display: inline-flex;

}
.btn{
    color: #FFFFFF;
    background-color: #469165;
    font-size: 16px;
    padding: 16px;
    border: none;
    border-radius: 4px;
    align-items: center;
    display: inline-flex;

}
div .title1{
    color: white;
}

.title2{
    color: #30B868;
}
.banner-container p{
    font-size: 18px;
    line-height: 24px;
    color: white;
}
#about .heading h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
#about .heading p{
    font-size: 16px;
    line-height: 20px;
}
#about{
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
}
.info-card{

    border-radius: 8px;
    align-items: center;
    text-align: center;
    display: flex;

    background-color: #FFFFFF;
     box-shadow: 0 6px #ffffff24;
     padding-left:120px ;
     padding-right:120px ;
    
    gap: 25px;
    border-radius: 8px
   

    
}


.info-card h4{
  margin-bottom: 20px;
}
.info-card p{
    font-size: 16px;
    line-height: 20px;
}
.card{
    padding: 24px;
    justify-content: space-between;
    box-shadow: 0 6px 50px 0 #0000271c;
    gap: 24px;

}
#solution{
    padding: 0 25px 25px 25px;
    
}

.solution-container{
    display: flex;
    align-items: center;
    /* text-align: center; */
    /* background-color: #F7F6F2; */
}
.image{
    align-items: center;
}
.head{
    align-items: self-start;
    margin-bottom: 40px;
 
}
.head h4{
    color: #469165c8;
    font-size: 16px;
    line-height: 20px;
    font-weight: light;
}

.head h1{
    font-size: 48px;
    font-weight: bold;
}
.head p{
    line-height: 20px;
    font-size: 16px;
    color: #627382;
}
.lower-part{
    line-height: 20px;
    font-size: 16px;
}

#access{
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}
.access-container{
    background-color: #ffffff3f;
}
#access .heading{
    background-color: #ffffff3f;
}
.heading h1 {
    margin-bottom: 16px;
}

.heading {
    margin-bottom: 16px;
}
.access-container button{
    margin-bottom: 16px;
    color: white;
}
#footer{
    background-color: #001931;
    padding: 30px;
}

.footer-heading{
    display: flex;
    justify-content: space-between;
}
.footer-menu {
    align-items: end;
    text-align: center;
    padding-right: 20px;
}
.footer-menu h3 {
    color: white;
    padding: 10px;
    font-weight: lighter;
}
.copy-right{
    color:#FAFAFA;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

#footer hr{
    margin: 30px 0;
}