
*{
    margin: 10px ;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #FFFFFF;
   
   
}
#banner {
    background: url(../B13-A01-Knowledge-Vault/assets/hero-bg.png);  
    /* background-position: bottom; */
    padding-top: 50px;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;
}

nav{
    margin: 20px auto;
    width: 71%;
    max-width: 1140px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
   
}
nav .menu li{
    align-items: center;
    display: flex;
}
.btn1{
    background-color: #469165;
    padding: 120px;
    border: none;
    font-size: 16px;
    font-weight: lighter;
    width: 164px;
    border-radius: 4px;
    padding: 12px 16px;
    color: white;
    cursor: pointer;
}
.banner-container{
    width: 100%;
    max-width: 1140px;
    text-align: center;
}
.btn2{
    border: none;
    border-radius: 100px;
    font-size: 12px 8px;
    font-weight: bold;
    background-color:  #FFFFFF;
    padding: 12px;
    color: #469165;
    align-items: center;
    display: inline-flex;

}
.btn3{
    color: #FFFFFF;
    font-size: 16px;
    padding: 16px;
    border: none;
    border-radius: 4px;
    background: none;
    border: 1px solid white;
    display: inline-flex;

}
.btn{
    color: #FFFFFF;
    background-color: #469165;
    font-size: 16px;
    padding: 16px;
    border: none;
    border-radius: 4px;
    align-items: center;
    display: inline-flex;

}
div .title1{
    color: white;
}

.title2{
    color: #30B868;
}
.banner-container p{
    font-size: 18px;
    line-height: 24px;
    color: white;
}
